name: Build and push image

on:
  push:
    branches:
      - main  # branch que dispara o deploy
  workflow_run:
    workflows: ["Build and Push Docker Image"]
    types:
      - completed
  workflow_dispatch:  # Permite execução manual
    inputs:
      image_tag:
        description: 'Tag da imagem Docker (ex: latest, main-abc123)'
        required: false
        default: 'latest'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up SSH key
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.VPS_SSH_KEY }}

    - name: Deploy on VPS
      run: |
        ssh -o StrictHostKeyChecking=no ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} "
          cd ~/huper-abby/huper-whatsapp-service || exit
          git pull origin master
          docker build -t duartevinicius91/huper-whatsapp-service .
          docker push duartevinicius91/huper-whatsapp-service
        "
