name: Deploy Docker to VPS

on:
  push:
    branches:
      - main  # branch que dispara o deploy

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up SSH key
      uses: webfactory/ssh-agent@v0.8.1
      with:
        ssh-private-key: ${{ secrets.VPS_SSH_KEY }}

    - name: Deploy on VPS
      run: |
        ssh -o StrictHostKeyChecking=no ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} "
          cd ~/huper-abby/huper-whatsapp-service || exit
          git pull origin main
          docker build -t meu-usuario/meu-app:latest .
          docker push meu-usuario/meu-app:latest
        "
